.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.header {
  background-color: azure;
  height: 120px;
}
.home {
  background-color: antiquewhite;
  width: 1024px;
}
.offerCard {
  background-color: azure;
}
.article {
  width: 30px;
  height: 30px;
}
.form {
  width: 200px;
  height: 300px;
  background-color: aquamarine;
}
